In [32]:
import sqlite3

import numpy as np 
import pandas as pd
import matplotlib.pyplot as plt

In [33]:
# DB_NAME = "results_mr_lh_446a_m1.db"
DB_NAME = "results_mr_lh_363_m1.db"

conn = sqlite3.connect(f"../../results/{DB_NAME}")
df = pd.read_sql("SELECT * FROM results", conn)

In [34]:
df = df.dropna()

In [35]:
df["success"] = (df["nearestDistance"] <= 0.2) & (df["nearestDistance"] >= 0.0)

In [36]:
df.tail(1000)

,duration,epsilon,nearestDistance,nearestOrientation,numLocations,success
9620,3.525112,0.05,0.028369,0.052155,6,True
9621,3.482777,0.05,0.046117,0.113515,5,True
9622,3.623039,0.05,0.073080,0.113515,5,True
9623,3.037404,0.05,0.080542,0.101243,5,True
9624,3.245149,0.05,0.102278,0.113515,6,True
...,...,...,...,...,...,...
10615,2.885544,0.05,0.110323,1.561592,8,True
10616,2.948667,0.05,0.115667,1.782486,7,True
10617,3.502295,0.05,0.162945,1.573864,7,True
10618,4.213181,0.05,0.133379,1.942020,7,True
10619,3.413683,0.05,0.126013,1.819301,7,True

In [37]:
gdf = df.groupby("epsilon")

In [38]:
gdf["success"].mean()

epsilon
0.005    0.740678
0.010    0.916949
0.020    0.920904
0.030    0.919209
0.040    0.912429
0.050    0.893220
Name: success, dtype: float64

In [39]:
# Aggregate by mean of nearestDistance, only for successful runs

df_ = df[df["success"]]
gdf_ = df_.groupby("epsilon")
gdf_["nearestDistance"].mean()

epsilon
0.005    0.083613
0.010    0.082010
0.020    0.091750
0.030    0.097123
0.040    0.102243
0.050    0.105879
Name: nearestDistance, dtype: float64

In [40]:
gdf["duration"].mean()

epsilon
0.005    0.003778
0.010    0.009419
0.020    0.085788
0.030    0.399188
0.040    1.172840
0.050    2.607959
Name: duration, dtype: float64

In [41]:
gdf["numLocations"].mean()

epsilon
0.005    2.305085
0.010    3.951412
0.020    4.686441
0.030    5.312994
0.040    5.874576
0.050    6.324294
Name: numLocations, dtype: float64