In [2]:
import sqlite3

import numpy as np 
import pandas as pd
import matplotlib.pyplot as plt

In [3]:
conn = sqlite3.connect("../../results/results.db")
df = pd.read_sql("SELECT * FROM results", conn)

In [4]:
df.head()

   duration  epsilon  nearestDistance  nearestOrientation  numLocations
0  0.008038    0.001        -1.000000           -1.000000             0
1  0.005953    0.001        -1.000000           -1.000000             0
2  0.005542    0.001         1.055807            0.475534             2
3  0.006166    0.001         1.056761            0.481670             2
4  0.008091    0.001         1.060662            0.481670             2

In [6]:
df["success"] = (df["nearestDistance"] <= 0.15) & (df["nearestDistance"] >= 0.0)

In [7]:
gdf = df.groupby("epsilon")

In [8]:
gdf["success"].mean()

epsilon
0.001    0.415452
0.005    0.518950
0.010    0.567055
0.015    0.604956
0.020    0.631924
0.025    0.623178
0.030    0.655977
Name: success, dtype: float64

In [12]:
# Aggregate by mean of nearestDistance, only for successful runs

df_ = df[df["success"]]
gdf_ = df_.groupby("epsilon")
gdf_["nearestDistance"].mean()

epsilon
0.001    0.075840
0.005    0.074097
0.010    0.074255
0.015    0.074874
0.020    0.079218
0.025    0.080120
0.030    0.082144
Name: nearestDistance, dtype: float64

In [10]:
gdf["duration"].mean()

epsilon
0.001    0.005128
0.005    0.006119
0.010    0.012366
0.015    0.025623
0.020    0.064688
0.025    0.106588
0.030    0.315433
Name: duration, dtype: float64

In [11]:
gdf["numLocations"].mean()

epsilon
0.001    2.742711
0.005    4.262391
0.010    5.740525
0.015    6.747813
0.020    7.685860
0.025    8.505831
0.030    9.387026
Name: numLocations, dtype: float64