In [79]:
import sqlite3

import numpy as np 
import pandas as pd
import matplotlib.pyplot as plt

In [80]:
conn = sqlite3.connect("../../results/results.db")
df = pd.read_sql("SELECT * FROM results", conn)

In [81]:
df = df.dropna()

In [89]:
df["success"] = (df["nearestDistance"] <= 0.2) & (df["nearestDistance"] >= 0.0)

In [90]:
df.tail(1000)

,duration,epsilon,nearestDistance,nearestOrientation,numLocations,success
2702,0.257119,0.015,0.080687,1.475690,9,True
2703,0.241151,0.015,0.049257,1.537049,8,True
2704,0.286328,0.015,0.048042,1.500233,8,True
2705,0.251517,0.015,0.107773,1.598408,8,True
2706,0.268860,0.015,0.022858,1.537049,8,True
...,...,...,...,...,...,...
3697,0.405431,0.015,0.068943,3.046486,8,True
3698,0.389557,0.015,0.088268,2.874680,8,True
3699,0.369949,0.015,0.083697,2.886952,8,True
3700,0.392673,0.015,0.096887,2.899224,7,True
3701,0.371437,0.015,0.062697,2.985127,7,True

In [91]:
gdf = df.groupby("epsilon")

In [92]:
gdf["success"].mean()

epsilon
0.005    0.736629
0.010    0.738250
0.015    0.752836
Name: success, dtype: float64

In [93]:
# Aggregate by mean of nearestDistance, only for successful runs

df_ = df[df["success"]]
gdf_ = df_.groupby("epsilon")
gdf_["nearestDistance"].mean()

epsilon
0.005    0.093518
0.010    0.095786
0.015    0.099705
Name: nearestDistance, dtype: float64

In [94]:
gdf["duration"].mean()

epsilon
0.005    0.039315
0.010    0.151864
0.015    0.317504
Name: duration, dtype: float64

In [95]:
gdf["numLocations"].mean()

epsilon
0.005    6.283630
0.010    7.042950
0.015    7.735008
Name: numLocations, dtype: float64