In [2]:
import sqlite3

import numpy as np 
import pandas as pd
import matplotlib.pyplot as plt

In [3]:
DB_NAME = "results_mr_lh_446a_m1.db"

conn = sqlite3.connect(f"../../results/{DB_NAME}")
df = pd.read_sql("SELECT * FROM results", conn)

In [4]:
df = df.dropna()

In [16]:
df["success"] = (df["nearestDistance"] <= 0.2) & (df["nearestDistance"] >= 0.0)

In [17]:
df.tail(1000)

,duration,epsilon,nearestDistance,nearestOrientation,numLocations,success
6404,2.394024,0.05,0.213642,1.573864,10,False
6405,1.940717,0.05,0.235212,1.647495,9,False
6406,2.042513,0.05,0.083272,1.451146,9,True
6407,2.307400,0.05,0.162503,1.573864,11,True
6408,2.368114,0.05,0.247662,1.279340,10,False
...,...,...,...,...,...,...
7399,3.817997,0.05,0.162031,3.402369,9,True
7400,3.240618,0.05,0.123558,3.316466,10,True
7401,3.271571,0.05,0.138710,3.255107,9,True
7402,3.030342,0.05,0.258277,3.390098,10,False
7403,3.605138,0.05,0.135071,3.230564,11,True

In [18]:
gdf = df.groupby("epsilon")

In [19]:
gdf["success"].mean()

epsilon
0.005    0.355754
0.010    0.665316
0.020    0.714749
0.030    0.743922
0.040    0.786872
0.050    0.812804
Name: success, dtype: float64

In [20]:
# Aggregate by mean of nearestDistance, only for successful runs

df_ = df[df["success"]]
gdf_ = df_.groupby("epsilon")
gdf_["nearestDistance"].mean()

epsilon
0.005    0.105945
0.010    0.114311
0.020    0.115280
0.030    0.116334
0.040    0.120292
0.050    0.120850
Name: nearestDistance, dtype: float64

In [21]:
gdf["duration"].mean()

epsilon
0.005    0.005454
0.010    0.012208
0.020    0.078905
0.030    0.301651
0.040    0.843627
0.050    1.875658
Name: duration, dtype: float64

In [22]:
gdf["numLocations"].mean()

epsilon
0.005    2.965964
0.010    4.794976
0.020    6.208266
0.030    7.334684
0.040    8.589141
0.050    9.303079
Name: numLocations, dtype: float64